<?xml version="1.0"?>
<zend-config xmlns:zf="http://framework.zend.com/xml/zend-config-xml/1.0/">
  <global>
    <autoloaderNamespaces>
      <vkNgine>vkNgine</vkNgine>
      <Thumbnail>Thumbnail</Thumbnail>
      <Calendar>Calendar</Calendar>
      <zfdebug>ZFDebug</zfdebug>
    </autoloaderNamespaces>
    <bootstrap>
      <path>/var/www/vknyvz.com/api/public/../app/Bootstrap.php</path>
      <class>Bootstrap</class>
    </bootstrap>
    <cache>
      <use>1</use>
      <type>file</type>
      <dir>/var/www/vknyvz.com/api/public/../app/../tmp/cache</dir>
      <lifetime>7200</lifetime>
    </cache>
    <assets>
      <path>/var/www/vknyvz.com/api/public/../_assets</path>
    </assets>
    <language>
      <locale>en</locale>
      <file>
        <en>
          <name>English</name>
          <master>/var/www/vknyvz.com/api/public/../languages/en/lang.csv</master>
          <app>/var/www/vknyvz.com/api/public/../languages/en/app.csv</app>
        </en>
        <tr>
          <name>Turkish</name>
          <master>/var/www/vknyvz.com/api/public/../languages/tr/lang.csv</master>
          <app>/var/www/vknyvz.com/api/public/../languages/tr/app.csv</app>
        </tr>
      </file>
    </language>
    <phpSettings>
      <date>
        <timezone>America/New_York</timezone>
      </date>
    </phpSettings>
    <mail>
      <serverType>smtp</serverType>
      <server>mail.vknyvz.com</server>
      <port>25</port>
      <username>vkn@vknyvz.com</username>
      <auth>login</auth>
      <noreply>webmaster@vknyvz.com</noreply>
      <password>5251739</password>
    </mail>
    <settings>
      <ga>
        <enabled>1</enabled>
        <code>UA-1250391-1</code>
      </ga>
      <formexpiretime>60</formexpiretime>
      <login>
        <remember>1000</remember>
      </login>
      <debug>0</debug>
    </settings>
    <meta>
      <appDescription>vkNgine v3.0 admin panel</appDescription>
      <appKeywords>volkan yavuz, volkan, yavuz, turkey, istanbul, ankara, usa, new york</appKeywords>
    </meta>
    <master>
      <user>1</user>
    </master>
    <pagination>
      <perPage>100</perPage>
    </pagination>
    <resources>
      <modules>public</modules>
      <locale>
        <default>tr</default>
      </locale>
      <frontController>
        <defaultModule>public</defaultModule>
        <controllerDirectory>/var/www/vknyvz.com/api/public/../app/controllers</controllerDirectory>
        <moduleDirectory>/var/www/vknyvz.com/api/public/../app/modules</moduleDirectory>
      </frontController>
      <view>
        <helperPath>/var/www/vknyvz.com/api/public/../app/views/helpers</helperPath>
      </view>
      <layout>
        <layoutPath>/var/www/vknyvz.com/api/public/../app/views/layouts</layoutPath>
      </layout>
    </resources>
  </global>
  <production zf:extends="global">
    <phpSettings>
      <display_startup_errors>0</display_startup_errors>
      <display_errors>0</display_errors>
    </phpSettings>
    <resources>
      <db>
        <adapter>pdo_mysql</adapter>
        <params>
          <host>localhost</host>
          <username>volkanan_vkn</username>
          <password>5251739</password>
          <dbname>volkanan_vkn</dbname>
        </params>
      </db>
    </resources>
  </production>
  <development zf:extends="production">
    <phpSettings>
      <display_startup_errors>1</display_startup_errors>
      <display_errors>1</display_errors>
    </phpSettings>
    <settings>
      <debug>0</debug>
    </settings>
    <resources>
      <frontController>
        <disableOutputBuffering>1</disableOutputBuffering>
        <params>
          <displayExceptions>1</displayExceptions>
        </params>
      </frontController>
      <db>
        <adapter>pdo_mysql</adapter>
        <params>
          <host>127.0.0.1</host>
          <username>root</username>
          <password>5251739</password>
          <dbname>vkn</dbname>
        </params>
      </db>
    </resources>
  </development>
</zend-config>
