 <div class="wrap">   
   <!--Main page posts -->
   <div class="main_page_posts">
      
    <div class="element1">
    <!--Begin contleft -->
    <div class="contleft"> 
     	<div class="left" ng-controller="MainController">
      <h2 style="text-align:right;" cufon-replace-directive>Profile<br/><span class="orange">EDUCATION</span></h2>		</div>
     </div>
     <!--End contleft -->     
   
        <!--  Begin post -->
        <div class="post">
        	<div class="post_content">
            	<div class="partcontent">
            	
            	{{profile}}
				
				</div>
                  <!--  End content1 -->
            </div>
             <!--  End post_content -->    
        </div>
        <!--  End post -->
       
         </div>
          <!-- End contright -->
          <div style="clear:both">
       </div>
              
         <div class="element2">
   <div class="contleft"> 
     	<div class="left">
      <h2 style="text-align:right;">Work<br/><span class="orange">EXPERIENCE</span></h2>		</div>
     </div>
        
        <!--  Begin post -->
        <div class="post">
        	<div class="post_content">
            	<div class="partcontent">
            	
	              	work stuff goes here
				
            	</div>
                  <!--  End content1 -->
            </div>
        </div>
        <!--  End post -->
         </div>
                 
          <!-- End contright -->
          <div style="clear:both">
       </div>
       
             <div class="element4">
  
    <div class="contleft"> 
     	<div class="left">
      <h2 style="text-align:right;">Skill<br/><span class="orange">TECHNICAL</span></h2>		</div>
     </div>
        
        <!--  Begin post -->
        <div class="post">
        	<div class="post_content">
            	<div class="partcontent">            		
					skill goes here
            	</div>
                  <!--  End content1 -->                                    
            </div>
                                
        </div>
        <!--  End post -->  
       
         </div>
          <!-- End contright -->

          <div style="clear:both">
       </div>       
       
         <div class="element5">
   <div class="contleft"> 
     	<div class="left">
      <h2 style="text-align:right;">Contact<br/><span class="orange">ME</span></h2></div>
     </div>
        
        <!--  Begin post -->
        <div class="post">
        	<div class="post_content">
            	<div class="partcontent">
            	            	
            	<h3>Please fill out the form</h3>
            		
            		<div class="result"></div>
            		
            		there supposed to be a form here
            		
                </div>
                  <!--  End content1 -->
            </div>
        </div>
        <!--  End post -->
         </div>
          <!-- End contright -->

          <div style="clear:both">
       </div>
        
   </div>
   <!-- End Main page posts -->
</div>
</div>
<script>
	$('#name').bind('blur', function() {
		if(this.value=='')this.value='Name';
	});
	$('#name').bind('focus', function() {
		if(this.value=='Name')this.value='';
	});	
	$('#email').bind('blur', function() {
		if(this.value=='')this.value='Email';
	});
	$('#email').bind('focus', function() {
		if(this.value=='Email')this.value='';
	});
	$('#message').bind('blur', function() {
		if(this.value=='')this.value='Message';
	});
	$('#message').bind('focus', function() {
		if(this.value=='Message')this.value='';
	});	

	$('.sponsor').bind('click', function() {
		portfolioItem($(this).attr('id'), $(this).attr('title'));	
	});	

	function contactFormSuccess(data)
	{
		if (!data.success)  {			
			$('.result').html('<div class="error">' + data.fail + '</div>');		
		} else {
			
			$('.result').html("<div class=\"success\">Thank you for your email</div>");
		}		
	}

	function portfolioItem(id, title)
	{
		portfolioId = id;
		$("#portfolioItem").dialog('open');
		$("#portfolioItem").dialog({title: title});
				
		$.ajax( {
		        url: "/index/portfolio/id/" + portfolioId, 
		        success: function(returnData) { 
			        $('#portfolioItem').html(returnData);		           
		    	}
		       }
		    )   	
	}

	$(document).ready(function() {
		var options = {  
			url: '',
			success: contactFormSuccess,
			dataType : 'json'		
		};

		//$('#formid').ajaxForm(options);

		
	/*	$("#portfolioItem").dialog({
				resizable: false,
				autoOpen: false,
				modal: true,
				width: 450,
				height: 260,
				overlay: {
					backgroundColor: '#000',
					opacity: -25
				}		
			});		
		*/
		
	});
</script>