 <div class="wrap">   
   <!--Main page posts -->
   <div class="main_page_posts">
      
    <div class="element1">
    <!--Begin contleft -->
    <div class="contleft"> 
     	<div class="left">
      <h2 style="text-align:right;" cufon-replace-directive>Profile<br/><span class="orange">EDUCATION</span></h2>		</div>
     </div>
     <!--End contleft -->     
   
        <!--  Begin post -->
        <div class="post">
        	<div class="post_content">
            	<div class="partcontent" ng-bind-html="profile">
				</div>
                  <!--  End content1 -->
            </div>
             <!--  End post_content -->    
        </div>
        <!--  End post -->
       
         </div>
          <!-- End contright -->
          <div style="clear:both">
       </div>
              
         <div class="element2">
   <div class="contleft"> 
     	<div class="left">
      <h2 style="text-align:right;">Work<br/><span class="orange">EXPERIENCE</span></h2>		</div>
     </div>
        
        <!--  Begin post -->
        <div class="post">
        	<div class="post_content">
            	<div class="partcontent" ng-bind-html="work">
            	</div>
                  <!--  End content1 -->
            </div>
        </div>
        <!--  End post -->
         </div>
                 
          <!-- End contright -->
          <div style="clear:both">
       </div>
       
             <div class="element4">
  
    <div class="contleft"> 
     	<div class="left">
      <h2 style="text-align:right;">Skill<br/><span class="orange">TECHNICAL</span></h2>		</div>
     </div>
        
        <!--  Begin post -->
        <div class="post">
        	<div class="post_content">
            	<div class="partcontent" ng-bind-html="skill">
            	</div>
                  <!--  End content1 -->                                    
            </div>
                                
        </div>
        <!--  End post -->  
       
         </div>
          <!-- End contright -->

          <div style="clear:both">
       </div>       
       
         <div class="element5">
   <div class="contleft"> 
     	<div class="left">
      <h2 style="text-align:right;">Contact<br/><span class="orange">ME</span></h2></div>
     </div>
        
        <!--  Begin post -->
        <div class="post">
        	<div class="post_content">
            	<div class="partcontent">
            	            	
            	<h3>vkn@vknyvz.com</h3>
            		
            		<p>Contact form is disabled, contact me via email</p>
            	
            		
                </div>
                  <!--  End content1 -->
            </div>
        </div>
        <!--  End post -->
         </div>
          <!-- End contright -->

          <div style="clear:both">
       </div>
        
   </div>
   <!-- End Main page posts -->
</div>
</div>